@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
  font-family: "DejaVuSans";
  src: url("./assets/fonts/DejaVuSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Định nghĩa trực tiếp biến môi trường CSS của Tailwind v4 */
:root {
  --font-dejavu: "DejaVuSans", sans-serif;
  --font-sans: "DejaVuSans", sans-serif;
}

body {
  font-family: "DejaVuSans", sans-serif;
}
